.loader {
    width: 80%;
    height: 200px;
    border: 2px solid green;
    img {
        height: 100px;
        width: 100px;
        background-color: green;
    }
    p {
        color: green;
    }
}

